*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace
}

html {
    margin: 0;
    padding: 0;
    background-color: crimson;
}

body{
    margin: 0;
}

.zoneTitre{
    padding: 0.5%;
}

#titre{
    font-size: 150%;
    text-align: center;
    padding: 1%;
}

#reseaux{
    
    font-size: 80%;
}

.liens{
    background-color: cadetblue;
    padding: 2%;
}

#lien1{
    background-color: #ffff4d;
    margin-left: 10%;
    text-decoration: none;
}

#lien2{
    background-color: #ffff4d;
    margin-left: 10%;
    text-decoration: none;
}


#lien3{
    background-color: #ffff4d;
    margin-left: 10%;
    text-decoration: none;
}

#photo1 > img {
    width: 100%
}

#histoire > p{
    padding: 3%;
}


