*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    margin: 0;
    padding: 0;
    background-color: crimson;
}

body{
    margin: 0;
}

.zoneTitre{
    padding: 0.5%;
    background-color: cyan;
}

#titre{
    font-size: 150%;
}

#reseaux{
    
    font-size: 80%;
}

.liens{
    background-color: cadetblue;
}


