*{
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;

    background-color: mediumaquamarine;;
}

body{
    margin: 0;
}

.grilleSite{
    display: grid;
    grid-template-areas: ". . Titre . .";
    border: 2px dashed black;

}

.zoneTitre{
    background-color: hotpink;
    grid-row: 1;
    grid-column: 3;
}


#titre{
    grid-area: Titre;
    grid-row: 3;
}

 .liens{
    background-color: red;
    padding: 1%;
    grid-row: 2;
}

#lien1{
    background-color: salmon;
    grid-column: 2;
}

#lien2{
    background-color: salmon;
    margin-left: 25%;
    padding: 1%;
}

#lien3{
    background-color: salmon;
    margin-left: 25%;
    padding: 1%;
}

/* .wrapper{
    margin-top: 10%;
    position: relative;
    margin-right: auto;
    margin-left: auto;

    max-width: 960px;

    padding-left: 10%;
    padding-right: 10%;
}
*/